/* estilos do body */
body,
html {
  background-color: #F0DCB8 !important;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*estilo do logo*/
.logo {
  width: 80px;
  height: 56px;
  margin-left: 15px;
  margin-right: 8px;
  vertical-align: middle;
}

/*estilo da nav*/
.nav {
  position: relative;
  z-index: 10;
  margin-bottom: -120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  display: inline-block;

}

.nav a {
  color: #6d201c;
  font-family: 'karla';
  font-weight: 400;
  margin-right: 8px;
  margin-top: 34px;
}

.nav a:hover {
  color: black;
}

/* estilos da imagem inicial do avião */
.header-image {
  width: 100%;
  height: 50%;
  margin-top: -106px;
  position: relative;
}

.header-image img {
  max-width: 100%;
  display: flex;
  width: auto;
  height: auto;
}


/* estilos do post principal */
.featured-post {
  background-color: #f8f9fa9f;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.featured-post img {
  max-width: 90%;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

.featured-post h2 {
  font-size: 2rem;
  text-align: justify;
  margin-top: 2.5rem;
  padding-bottom: 7px;
  margin-right: 10px;
}

.featured-post p {
  font-size: 1.15rem;
  text-align: justify;
  margin-top: 2.5rem;
  margin-right: 10px;
}

.btn {
  padding: 6px 24px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;

}

.btn-dark {
  background-color: #333;
  border: none;
  padding: 12px 16px;
  font-size: 0.9rem;
}

.btn-dark:hover {
  background-color: #555;
}


.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  border: none !important;

}


.card-body {
  padding: 60px;
  padding-bottom: 25px;
  background-color: #f0dcb86b  !important;



}

.card-img-top {
  height: 200px;
  object-fit: cover;

}

.card-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;

}

.card-text {
  font-size: 1rem;
  color: #666;
  text-align: justify;
  height: 90px;
  flex-grow: 1;
  margin-bottom: 40px;
}

.blog-header {
  font-family: 'karla';
  font-size: 400;
  text-align: center;
  margin-bottom: 40px;
}

.blog-header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.blog-header p {
  font-size: 1.25rem;
  color: #6c757d;
}


.blog-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* footer area style */
footer {
  background-color: #6d201c;
  color: #d3b98a;
  text-decoration: none;
  text-align: center;
  margin: 0;
  width: 100% !important;
  position: relative;
  box-sizing: border-box;
}

footer a {
  /* footer's links' style */
  color: #d3b98a;
  text-decoration: none;
  margin-right: 25px;
  font-size: 18px;
}

footer p {
  /* footer's paragraphs' style */
  color: #d3b98a;
  font-size: 13px;
  margin-bottom: -5px;
  text-align: right;
  margin-right: 25px;
}



/* Estilo da barra de busca */
.container-fluid-search-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 50px;
  background-color: #6d201c;
}



/* Estilo dos artigos do blog */
.post-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'karla';
  text-align: justify;
}

.meta-info {
  color: #6c757d;
  font-weight: 400;
  margin-bottom: 20px;
}

.post-content img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.post-content h2 {
  font-size: 2rem;
  margin-top: 30px;
  font-family: 'karla';
  text-align: justify;
}

.post-content p {
  line-height: 1.8;
  margin-top: 15px;
  font-family: 'karla';
  text-align: justify;
}

.comment-section {
  margin-top: 50px;
  font-family: 'karla';
}

.comment-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'karla';
}

.comment-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  font-family: 'karla';
}

.comment-box input,
.comment-box textarea {
  border-radius: 5px;
  font-family: 'karla';
}

.btn-submit {
  padding: 6px 24px;
  background-color: black !important;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

/*estilo button reservar hover*/
.btn-submit:hover {
  background-color: #514F4F;
}

.back-button-icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;

}


.contador-visitas {
  font-size: 14px;
  font-weight: lighter;
  color: #333;
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;

}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #6d201c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10%;
  cursor: pointer;
  display: none;
  font-size: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
  background-color: #333;
}